name: build and run tests

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
          distribution: 'temurin'
      - name: grant execute permission for gradlew
        run: chmod +x gradlew
      - name: run tests
        run: ./gradlew test
